<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Login_Account.Properties.Settings.Data_LoginConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Sql\Data_Login.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Login_Account.Properties.Settings.Manager_StudentConnectionString"
            connectionString="Data Source=THIEN-NGUYEN;Initial Catalog=Manager_Student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Login_Account.Properties.Settings.Manager_StudentConnection"
            connectionString="Data Source=DESKTOP-US6D43H;Initial Catalog=Manager_Student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>